@import "../MainStyle";

@media screen and (min-width: 820px) {

    .ServicePageContainer{
        padding-top: 5rem;

        .SPGC-services{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .SPGC-card{
                padding: 0 2rem 8rem 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .SPGC-card-reqserv{
                    font-family: $TitleFontFamilyStyle;
                    padding-right: 18rem;
                    opacity: 0.7;
                    

                }

                .SPGC-card-image{
                    width: 15rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    display: block;
                    margin-right: 12rem;

                }

                .SPGC-card-Name{
                    font-family: $TitleFontFamilyStyle;


                    font-size: 2.5rem;
                    min-width: 15rem;
                    max-width: 30rem;
                    justify-content: left;
                    margin: 1rem 10rem 1rem 0;


                }
                .SPGC-card-Description{
                    font-family: $TitleFontFamilyStyle;

                    min-width: 20rem;
                    max-width: 30rem;



                }

            }
        
        
        .SPGC-contact{
            display: flex;
            flex-direction: column;
            align-items: center;

            .SPGC-Cont-inputs{
                box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                padding: 4rem 2rem;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                justify-content: center;


                .SPGC-Cont-inp-title{
                    font-family: $TitleFontFamilyStyle;
                    height: 3rem;
                    width:16rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 2rem;
                    line-height: 1.6;
                }


                .SPGC-Cont-inp-field{
                    
                    

                    .SPGC-Cont-inplabel{
                        font-family: $TitleFontFamilyStyle;
                        opacity: 0.6;

                    }

                    .SPGC-Cont-inp{
                        margin: 1rem 0;
                        font-family: $TitleFontFamilyStyle;
                        width: 16rem;
                        padding: 0.5rem;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        outline:none;
                        border-color: lightgray;

                    }

                }
                .SPGC-Cont-inp-bttn{
                    font-family: $TitleFontFamilyStyle;
                    font-size: 1.2rem;
                    padding: 0.8rem;
                    outline: none;
                    border: none;
                    width: 7rem;
                    margin-top: 1rem;
                    border-radius: 8px;
                    color: white;
                    background-image: linear-gradient(67.5deg, #0080ff 50%, #00e1ff 90%);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(67.5deg, #0066cc 50%, #00cae4 90%);
                        transition: 0.5s;
                     }
                    
                }
            }
        }
    }
}

};










@media screen and (max-width: 820px) {

    .ServicePageContainer{
        padding-top: 5rem;

        .SPGC-services{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .SPGC-card{
                padding: 0 2rem 2rem 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .SPGC-card-reqserv{
                    font-family: $TitleFontFamilyStyle;
                    // padding-right: 18rem;
                    opacity: 0.7;
                    

                }

                .SPGC-card-image{
                    width: 15rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    display: block;
                    // margin-right: 12rem;

                }

                .SPGC-card-Name{
                    font-family: $TitleFontFamilyStyle;
                    font-size: 2.5rem;
                    // min-width: 15rem;
                    // max-width: 30rem;
                    // justify-content: left;
                    // margin: 1rem 10rem 1rem 0;


                }
                .SPGC-card-Description{
                    font-family: $TitleFontFamilyStyle;
                    opacity: 0;
                    cursor:default;
                    min-width: 20rem;
                    max-width: 30rem;
                }

            }
        
        
        .SPGC-contact{
            display: flex;
            flex-direction: column;
            align-items: center;

            .SPGC-Cont-inputs{
                box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.76);
                padding: 4rem 2rem;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                justify-content: center;


                .SPGC-Cont-inp-title{
                    font-family: $TitleFontFamilyStyle;
                    height: 3rem;
                    width:16rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 2rem;
                    line-height: 1.6;
                }


                .SPGC-Cont-inp-field{
                    
                    

                    .SPGC-Cont-inplabel{
                        font-family: $TitleFontFamilyStyle;
                        opacity: 0.6;

                    }

                    .SPGC-Cont-inp{
                        margin: 1rem 0;
                        font-family: $TitleFontFamilyStyle;
                        width: 16rem;
                        padding: 0.5rem;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        outline:none;
                        border-color: lightgray;

                    }

                }
                .SPGC-Cont-inp-bttn{
                    font-family: $TitleFontFamilyStyle;
                    font-size: 1.2rem;
                    padding: 0.8rem;
                    outline: none;
                    border: none;
                    width: 7rem;
                    margin-top: 1rem;
                    border-radius: 8px;
                    color: white;
                    background-image: linear-gradient(67.5deg, #0080ff 50%, #00e1ff 90%);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(67.5deg, #0066cc 50%, #00cae4 90%);
                        transition: 0.5s;
                     }
                    
                }
            }
        }
    }
}

};