@import "../MainStyle";

@media screen and (min-width: 820px) {

    .ServicePageContainer{
        padding-top: 5rem;
        
        .SPGC-contact{
            display: flex;
            flex-direction: column;
            align-items: center;

            .SPGC-Cont-inputs{
                border: gray solid 1px;
                border-radius: 20px;
                box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                padding: 4rem 2rem;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                justify-content: center;


                .SPGC-Cont-inp-title{
                    font-family: $TitleFontFamilyStyle;
                    height: 2rem;
                    width:20rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: 2rem;
    
                }


                .SPGC-Cont-inp-field{

                    .SPGC-Cont-inplabel{
                        font-family: $TitleFontFamilyStyle;

                    }

                    .SPGC-Cont-inp{
                        margin: 1rem;
                        font-family: $TitleFontFamilyStyle;
                        width: 15rem;
                        padding: 0.5rem;
                        border-top: none;
                        outline:none;

                    }

                }
                .SPGC-Cont-inp-bttn{
                    font-family: $TitleFontFamilyStyle;
                    padding: 0.5rem;
                    outline: none;
                    border: none;
                    width: 7rem;
                    margin-top: 1rem;
                    border-radius: 8px;
                    color: white;
                    background-image: linear-gradient(67.5deg, #0080ff 50%, #00e1ff 90%);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(67.5deg, #0066cc 50%, #00cae4 90%);
                        transition: 0.5s;
                     }
                    
                }

                .SPGC-Cont-inp-selector{
                    font-family: $TitleFontFamilyStyle;
                    border-top: none;
                    margin: 1rem;
                    padding: 0.5rem;
                    width: 15rem;


                }
            }
        }
    }

};










@media screen and (max-width: 820px) {

    .ServicePageContainer{
        padding-top: 5rem;
        
        .SPGC-contact{
            display: flex;
            flex-direction: column;
            align-items: center;

            .SPGC-Cont-inputs{
                border: black solid 1px;
                border-radius: 20px;
                box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                padding: 4rem 2rem;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-items: center;
                justify-content: center;


                .SPGC-Cont-inp-title{
                    font-family: $TitleFontFamilyStyle;
                    height: 2rem;
                    width:20rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
    
                }


                .SPGC-Cont-inp-field{

                    .SPGC-Cont-inplabel{
                        font-family: $TitleFontFamilyStyle;

                    }

                    .SPGC-Cont-inp{
                        margin: 1rem;
                        font-family: $TitleFontFamilyStyle;
                        width: 15rem;
                        padding: 0.5rem;
                        border-top: none;
                        outline:none;

                    }

                }
                .SPGC-Cont-inp-bttn{
                    font-family: $TitleFontFamilyStyle;
                    padding: 0.5rem;
                    outline: none;
                    border: none;
                    width: 7rem;
                    margin-top: 1rem;
                    border-radius: 8px;
                    color: white;
                    background-image: linear-gradient(67.5deg, #0080ff 50%, #00e1ff 90%);
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(67.5deg, #0066cc 50%, #00cae4 90%);
                        transition: 0.5s;
                     }
                    
                }
            }
        }
    }

};