@import "../MainStyle";

.ServicePartContainer {

   .ServicePartContainer2 {
      padding: 20px;
      background: #94d6ff;

      h3 {
         font-family: $ButtonFontFamilyStyle;
      }

      h1 {
         font-family: $TitleFontFamilyStyle;
      }

      p {
         font-family: $NavBarFontFamily;
      }

      .SPC_Title {
         display: flex;
         justify-content: center;
      }

      .SPC_ServiceList {
         display: flex;
         justify-content: center;
         .SPCSL_innerContainer {
            .SPCS_Service {
               background: white;
               border-radius: 10px;
               margin: 10px;
               padding: 20px;
               width: 250px;

               .SPCSS_icon {
                  display: flex;
                  justify-content: center;

                  i {
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     font-size: 26px;
                     width: 80px;
                     height: 80px;
                     border-radius: 100px;
                     box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);
                     -webkit-box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);
                     -moz-box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);


                  }
               }

               .SPCSS_Title {
                  font-size: 25px;
                  text-align: center;
                  margin: 30px 10px;
               }

            }
         }
      }
   }
}