@import "../MainStyle";

@media screen and (min-width: 820px) {
    .ServicePartContainer{
        margin: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .SPC-Title{
            font-family: $TitleFontFamilyStyle;
            margin-bottom: 5rem;
            font-size: 4rem;
        }
        
        .SPC-Cards{
            width: 95%;
            display: grid;
            grid-template-rows: 150px 150px;
            grid-template-columns:1fr 1fr 1fr 1fr;
            
            .SPC-Card{
                transition: 0.5s;
                height: 22rem;
                margin: 0 0.5rem;
                border-radius: 20px;
                background-origin: border-box;
                background-clip: content-box, border-box;
                display: flex;
                flex-direction: column;
                box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -webkit-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 27px -16px rgba(0,0,0,0.75);

                .SPC-Card-image{
                    width: 6rem;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .SPC-Card-Name{
                    font-family: $TitleFontFamilyStyle;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 2rem;
                }

            
                .SPC-Card-Description{
                    font-family: $TitleFontFamilyStyle;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    opacity: 60%;
                    height: 8rem;   
                }

                .SPC-Card-button{
                    font-family: $TitleFontFamilyStyle;
                    font-weight: bold;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    justify-content: center;
                    align-items: center;
                    height: 2rem;
                    transition: 0.3s;
                    background: transparent;
                    border: none;
                    color: #0058dd;
                    cursor: pointer;

                }
                .SPC-Card-button:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                    color: #164489;
                    size: 1.5;
                    background: transparent;

                }

            }
            .SPC-Card:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.4s;
                size: 1.5;
                box-shadow: 0px -1px 27px -20px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -1px 27px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 27px -20px rgba(0,0,0,0.75);
            }
        }
    }
}


@media screen and (max-width: 820px) {
    .ServicePartContainer{
        margin: 5rem 0;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        // margin-right: 0.5rem;


        .SPC-Title{
            justify-content: center;
            display: flex;
            align-items: center;
            font-family: $TitleFontFamilyStyle;
            margin-bottom: 3rem;
            font-size: 3rem;
        }
        
        .SPC-Cards{
            width: 95%;
            display: grid;
            grid-template-rows: 150px 150px;
            grid-template-columns:1fr 1fr 1fr 1fr;
            
            .SPC-Card{
                transition: 0.5s;
                height: 14rem;
                margin: 0 0.5rem;
                border: double 4px transparent;
                border-radius: 10px;
                background-origin: border-box;
                background-clip: content-box, border-box;
                display: flex;
                flex-direction: column;
                box-shadow: 5px 9px 22px -2px rgba(0,0,0,0.57);
                -webkit-box-shadow: 5px 9px 22px -2px rgba(0,0,0,0.57);
                -moz-box-shadow: 5px 9px 22px -2px rgba(0,0,0,0.57);

                .SPC-Card-Name{
                    font-family: $TitleFontFamilyStyle;
                    margin: 1rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 4rem;
                }

                .SPC-Card-image{
                    width: 6rem;
                    // margin-bottom: 2rem;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .SPC-Card-Description{
                    transition: 0.4s;
                    position: absolute;
                    color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }

                .SPC-Card-button{
                    font-family: $TitleFontFamilyStyle;
                    font-weight: bold;
                    margin-bottom: 1rem;
                    justify-content: center;
                    align-items: center;
                    height: 2rem;
                    transition: 0.3s;
                    background: transparent;
                    border: none;
                    color: #0058dd;
                    cursor: pointer;

                }
                .SPC-Card-button:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                    color: #164489;
                    size: 1.5;
                    background: transparent;

                }
            }
            .SPC-Card:hover{
                cursor: pointer;
                transform: scale(1.05);
                transition: 0.4s;
                size: 1.5;
            }
        }
    }
}
