@import "../MainStyle";

@media screen and (min-width: 1081px) {
   .ServicePartContainer {

      .ServicePartContainer2 {

         .SPC_ServiceList {
            .SPCSL_innerContainer {
               display: flex;
            }
         }
      }
   }
}

.ServicePartContainer {

   .ServicePartContainer2 {
      padding: 20px;
      background: #8edbff;

      h3, .SPCSS_button {
         font-family: $ButtonFontFamilyStyle;
      }

      h1 {
         font-family: $TitleFontFamilyStyle;
      }

      p {
         font-family: $NavBarFontFamily;
      }

      .SPC_Title {
         display: flex;
         justify-content: center;
         font-size: 45px;
      }

      .SPC_ServiceList {
         display: flex;
         justify-content: center;

         .SPCSL_innerContainer {

            .SPCS_Service {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               background: white;
               border-radius: 10px;
               margin: 30px;
               padding: 20px;
               width: 250px;
               box-shadow: 0 6px 30px -5px rgba(0,0,0,0.5);
               -webkit-box-shadow: 0 6px 30px -5px rgba(0,0,0,0.5);
               -moz-box-shadow: 0 6px 30px -5px rgba(0,0,0,0.5);

               .SPCSS_icon {
                  display: flex;
                  justify-content: center;

                  i {
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     font-size: 26px;
                     width: 80px;
                     height: 80px;
                     border-radius: 100px;
                     box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);
                     -webkit-box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);
                     -moz-box-shadow: 5px 7px 19px 0 rgba(0,0,0,0.4);


                  }
               }

               .SPCSS_Title {
                  font-size: 25px;
                  text-align: center;
                  margin: 30px 10px;
               }

               .SPCSS_Text {
                  text-align: justify;
               }

               .SPCSS_details {
                  margin-top: 25px;
                  margin-left: 15px;

                  li {
                     &:not(:last-child) {
                        padding-bottom: 10px;
                     }
                     p {

                     }
                  }
               }

               .SPCSS_button {
                  width: 100%;
                  border: #00a5fe 1px solid;
                  color: #00a5fe;
                  font-weight: bold;
                  font-size: 15px;
                  background: white;
                  outline: none;
                  border-radius: 5px;
                  padding: 8px;
                  margin-top: 20px;

                  &:hover {
                     background: #00a5fe;
                     color: white;
                  }
               }
            }
         }
      }
   }
}