@import "../MainStyle";

//Computer Screen
@media screen and (min-width: 1081px) {
   .StartPartContainer {
      .StartPartContainer2 {
         .SPC2_MainTextContainer {
            .SPC2_MainText {
               display: flex;
               flex-direction: column;
               text-align: center;

               .SPC2MT_Title {
                  font-size: 90px;
               }

               .SPC2MT_SecondTitle {
                  font-size: 30px;
                  margin-top: 30px;
               }

               .SPC2MT_CU {
                  font-size: 20px;
                  padding: 10px 10px;
               }
            }
         }
      }
   }
}

//Phone Screen
@media screen and (max-width: 1081px) {
   .StartPartContainer {
      .StartPartContainer2 {
         .SPC2_MainTextContainer {
            .SPC2_MainText {

               .SPC2MT_Title {
                  font-size: 65px;
               }

               .SPC2MT_SecondTitle {
                  font-size: 25px;
                  margin-top: 20px;
               }

               .SPC2MT_CU {
                  font-size: 17px;
                  padding: 15px 10px;
               }
            }
         }
      }
   }
}

//Default Style

.StartPartContainer {
   display: flex;
   justify-content: center;
   background-image: url("../../media/images/Background_Images/Computers_and_people_at_one_desk.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   max-height: 1200px;

   .StartPartContainer2 {
      width: 100%;
      height: 100%;
      background: rgba(black, 0.6);

      h1 {
         font-family: $TitleFontFamilyStyle;
      }

      h3 {
         font-family: $NavBarFontFamily;
      }

      .SPC2MT_CU {
         font-family: $ButtonFontFamilyStyle;
      }

      .SPC2_MainTextContainer {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;

         .SPC2_MainText {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            span {
               color: $BlueColor;
            }

            .SPC2MT_Title {
               color: white;
            }

            .SPC2MT_SecondTitle {
               color: white;
            }

            .SPC2MT_CU {
               outline: none;
               border: none;
               width: 200px;
               margin-top: 40px;
               border-radius: 8px;
               color: white;
               background-image: linear-gradient(67.5deg, #0080ff 50%, #00e1ff 90%);
               transition: 0.5s;
               cursor: pointer;

               &:hover {
                  background: white;
                  color: $BlueColor;
               }
            }
         }
      }
   }
}

