@import "../MainStyle";



@include computer {
   .HeaderStyleContainer {

      .HeaderStyleContainer2 {
         position: fixed;
         display: flex;
         justify-content: center;
         align-items: center;
         background: white;
         width: 100%;
         max-width: 2000px;

         box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);
         -webkit-box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);
         -moz-box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);

         p {
            font-family: $NavBarFontFamily;
         }

         .HSC2_NavBar {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .logoPart {
               img {
                  width: 220px;
                  cursor: pointer;
               }

               @include phone {
                  img {
                     width: 500px;
                  }
               }

            }



            .textPart {
               .TP_list {
                  display: flex;
                  justify-content: space-between;
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 100%;
                  list-style: none;

                  li {
                     p {
                        padding: 0 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        cursor: pointer;
                        transition: 0.5s;
                        color: #0076dd;

                        &:hover {
                           background: $BlueColor;
                           color: white;
                        }
                     }
                  }
               }

               .hide {
                  display: none;
               }

            }

            @include phone {
               .textPart {
                  margin-top: 700px;
                  position: absolute;
                  overflow: hidden;
                  width: 100%;
                  background: white;
                  height: 0;
                  transition: 0.3s;

                  .TP_list li p {
                     text-align: center;
                     padding: 15px 0;
                     width: 100%;
                     border-radius: 10px;
                     margin-bottom: 15px;
                     font-size: 40px;
                     &:hover {
                        color: white;
                        background: $BlueColor;
                     }
                  }
               }
            }

         }

         .mobileMode, .hideNavBar {
            display: none;
         }

         .HSC2_LanguageBar {
            position: fixed;
            right: 0;
            top: 100px;
         }
      }
   }
}

@include phone {
   .HeaderStyleContainer {
      display: flex;
      justify-content: center;

      .HeaderStyleContainer2 {
         display: flex;
         justify-content: center;
         align-items: center;
         position: fixed;
         background: white;
         width: 100%;
         max-width: 2000px;

         box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);
         -webkit-box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);
         -moz-box-shadow: 0 13px 77px -27px rgba(0,0,0,0.8);
         p {
            font-family: $NavBarFontFamily;
         }

         .hideNavBar {
            display: none;
         }

         .mobileMode {
            display: block;
            margin-right: 50px;

            label {
               display: flex;
               align-items: center;

               i {
                  font-size: 60px;
                  color: $BlueColor;
                  cursor: pointer;
               }
            }
         }

         .hideNavBar:checked ~ .HSC2_NavBar {
            transition: 0.3s;

            .textPart {
               max-height: 530px;
            }
         }

         .HSC2_NavBar {
            width: 100%;

            .logoPart {
               img {
                  width: 450px;
                  cursor: pointer;
               }
            }

            .textPart {
               position: absolute;
               z-index: 1;
               overflow: hidden;
               width: 100%;
               max-height: 0;
               transition: 0.5s;

               .TP_list {
                  list-style: none;
                  height: 100%;

                  li {
                     p {
                        background: white;
                        text-align: center;
                        padding: 25px 0;
                        font-size: 40px;
                        cursor: pointer;
                        color: $BlueColor;
                        transition: 0.1s;

                        &:hover {
                           color: white;
                           background: $BlueColor;
                        }
                     }
                  }
               }
            }
         }

         .HSC2_LanguageBar {
            position: fixed;
            right: 0;
            z-index: 0;
            top: 200px;
         }
      }
   }
}






































////Phone Screen
//@media screen and (max-width: 1081px) {
//   .HeaderStyleContainer {
//      .HeaderStyleContainer2 {
//
//         //.logoPart {
//         //   img {
//         //      width: 200px;
//         //   }
//         //}
//
//         .hideNavBar:checked ~ .HSC2_MoveDivs {
//            .textPart {
//               height: 270px;
//               ul {
//                  display: block;
//               }
//            }
//         }
//
//         .mobileMode {
//            margin-right: 20px;
//
//            label {
//               display: flex;
//               align-items: center;
//
//               i {
//                  font-size: 25px;
//                  color: $BlueColor;
//                  cursor: pointer;
//               }
//            }
//         }
//
//         //.textPart {
//         //   position: absolute;
//         //   display: block;
//         //   justify-content: center;
//         //   overflow: hidden;
//         //   width: 100%;
//         //   background: rgba(white, 0.8);
//         //   height: 0;
//         //   transition: 0.3s;
//         //
//         //   .TP_list li p {
//         //         text-align: center;
//         //         padding: 15px 0;
//         //         width: 100%;
//         //         border-radius: 10px;
//         //         margin-bottom: 15px;
//         //
//         //         &:hover {
//         //            color: white;
//         //            background: $BlueColor;
//         //         }
//         //      }
//         //   }
//
//         //.links {
//         //   position: absolute;
//         //   right: 60px;
//         //}
//      }
//   }
//}

////Default Style
//.HeaderStyleContainer {
//   display: flex;
//   justify-content: center;
//
//   /*.hideNavBar1:checked ~ .HeaderStyleContainer2{
//      p {
//         font-family: $GeFontFamily;
//      }
//   }*/
//
//   .HeaderStyleContainer2 {
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      position: absolute;
//      background: white;
//      width: 100%;
//      max-width: 2000px;
//
//      @include phone {
//         justify-content: space-between;
//      }
//
//      .HSC2_NavBar {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         width: 100%;
//
//         .logoPart {
//            img{
//               width: 220px;
//            }
//         }
//
//         .textPart {
//            .TP_list {
//               display: flex;
//               margin-right: 10px;
//
//               li p {
//                  padding: 27px 5px;
//
//                  &:hover {
//                     color: #0058dd;
//                     background: $BlueColor;
//                  }
//
//                  //&::after {
//                  //   content: '';
//                  //   display: block;
//                  //   background: #0058dd;
//                  //   height: 2px;
//                  //   border-radius: 100px;
//                  //   width: 0;
//                  //   transition: 0.4s;
//                  //}
//
//                  &:hover::after {
//                     width: 100%;
//                  }
//               }
//            }
//         }
//      }
//
//      .mobileMode {
//         display: none;
//      }
//
//      @include phone {
//         .HSC2_NavBar {
//            display: none;
//         }
//         .mobileMode {
//            display: block;
//         }
//      }
//
//
//      p {
//         font-family: $NavBarFontFamily;
//      }
//
//      .hideNavBar {
//         display: none;
//      }
//
//      .textPart .TP_list li {
//         display: flex;
//         list-style: none;
//         padding: 0 5px;
//
//         p {
//            color: $BlueColor;
//            font-size: 17px;
//            cursor: pointer;
//            transition: 0.2s;
//         }
//      }
//   }
//}






