@import "../MainStyle";
//Computer Screen
@media screen and (min-width: 821px) {
   .HeaderStyleContainer {
      .HeaderStyleContainer2 {
         display: flex;
         align-items: center;
         justify-content: center;
         max-width: 2000px;

         .HSC2_MoveDivs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 2000px;

            .logoPart {
               img{
                  width: 220px;
               }
            }

            .textPart {
               display: flex;
               align-items: center;

               .TP_list {
                  display: flex;
                  margin-right: 10px;

                  li p {
                     padding: 27px 5px;

                     &:hover {
                        color: #0058dd;
                     }

                     &::after {
                        content: '';
                        display: block;
                        background: #0058dd;
                        height: 2px;
                        border-radius: 100px;
                        width: 0;
                        transition: 0.4s;
                     }

                     &:hover::after {
                        width: 100%;
                     }
                  }
               }
            }
         }

         .mobileMode {
            display: none;
         }

         .links {
            padding-right: 10px;
         }
      }
   }
}

//Phone Screen
@media screen and (max-width: 821px) {
   .HeaderStyleContainer {
      .HeaderStyleContainer2 {
         justify-content: space-between;

         .logoPart {
            img {
               width: 200px;
            }
         }

         .hideNavBar:checked ~ .HSC2_MoveDivs {
            .textPart {
               height: 270px;
               ul {
                  display: block;
               }
            }
         }

         .mobileMode {
            margin-right: 20px;

            label {
               display: flex;
               align-items: center;

               i {
                  font-size: 25px;
                  color: $BlueColor;
                  cursor: pointer;
               }
            }
         }

         .textPart {
            position: absolute;
            display: block;
            justify-content: center;
            overflow: hidden;
            width: 100%;
            background: rgba(white, 0.8);
            height: 0;
            transition: 0.3s;

            .TP_list li p {
                  text-align: center;
                  padding: 15px 0;
                  width: 100%;
                  border-radius: 10px;
                  margin-bottom: 15px;

                  &:hover {
                     color: white;
                     background: $BlueColor;
                  }
               }
            }

         .links {
            position: absolute;
            right: 60px;
         }
      }
   }
}

//Default Style
.HeaderStyleContainer {
   display: flex;
   justify-content: center;

   .hideNavBar1:checked ~ .HeaderStyleContainer2{
      p {
         font-family: $GeFontFamily;
      }
   }

   .HeaderStyleContainer2 {
      display: flex;
      align-items: center;
      position: absolute;
      background: rgba(white, 0.8);
      width: 100%;



      p {
         font-family: $NavBarFontFamily;
      }

      .hideNavBar {
         display: none;
      }

      .textPart .TP_list li {
         display: flex;
         list-style: none;
         padding: 0 5px;

         p {
            color: $BlueColor;
            font-size: 17px;
            cursor: pointer;
            transition: 0.2s;
         }
      }
   }
}

