@import "../../components/MainStyle";
.AboutUsPageContainer {

   h3, h4, h5 {
      font-family: $ButtonFontFamilyStyle;
   }

   h1 {
      font-family: $TitleFontFamilyStyle;
   }

   p {
      font-family: $NavBarFontFamily;
   }

   .AbUsPTittle {
      padding: 5px;
      text-align:  center;
      margin: 75px 30px 30px;

      .AbUsPTImg {
        
         img {
            max-width: 1300px;
            height: 450px;
         }
      }

      h1 {
         text-align: center;
         color: black;
         font-weight: bold;
      }
   }

      .AbUsP_TextContainer {
         display: flex;
         justify-content: center;
         text-align: center;
         .AbUsP_Text {
            font-size: 22px;
            width: 100%;
            max-width: 2000px;
         }
      }
   


      hr {
         width: 12%;
         height: 5px;
         background-color: #5fbff9;
         margin: 0 auto;
         border: none;
         text-align: center;
      }

   .AbUsPBoxContatiner {
      display: flex;
      justify-content: center;
      text-align: center;

      .AbUsPBItem {
         margin: 20px;
         padding: 80px 30px;
         box-shadow: 0 0 9px rgba(0, 0, 1, 0.144);
         border-radius: 5%;
         background-color: rgb(240 246 255);
         width: 400px;
         height: 250px;

         i {
            font-size: 60px;
            margin: 0;
         }

         h3 {
            font-size: 25px;
            margin-bottom: 10px;
         }

         hr {
            width: 120px;
            height: 3px;
            background-color: #5fbff9;
            margin: 0 auto;
            border: none;
            text-align: center;
         }

         p {
            font-size: 22px;
            text-align: justify;
         }

      }
   }

   .ABUSTeam {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
   }

   .ABUSTeamThree{
      display: flex;
      flex-direction: row;
   }

.ABUSTeamTwo{
   display: flex;
   flex-direction: row;
}


.ABUSTContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 20px;

   .ABUSTCCard {
      width: 300px;
      height: 350px;
      padding: 40px 30px;
      margin: 50px;
      background: #e3e9ff;
      box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
      border-radius: 20px;

      .ABUSTCCContent {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         .ABUSTCCCImageBox {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative;
            margin-bottom: 10px;
            overflow: hidden;

            img {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         .ABUSTCCCBox {
            .ABUSTCCC_UserName {
               color: #6c758f;
               font-size: 18px;
               font-weight: bold;
               text-align: center;
               letter-spacing: 1px;
            }

            h5 {
               color: #6c758f;
               font-size: 15px;
               font-weight: bold;
               text-align: center;
            }
         }
      }
   }
}

.ABUSTCCCBSocial {
   i {
      color: #6c758f;
      font-size: 30px;
      margin: 10px;
      transition: 0.5s;

      &:hover {
      color: #0095f8;
      cursor: pointer;
      }
   }
}

   
}

//Phone Screen
@media screen and (max-width: 1000px) {
   .AboutUsPageContainer {

   .AbUsPTittle {
         height: 450px;
         text-align: center;
         padding: 5px;
         text-align:  center;
         margin: 75px 30px 30px;
         justify-content: center;
         h1 {
            text-align: center;
            color: black;
            font-weight: bold;

         }
         p {
            text-align: center;
            justify-content: center;
         }

      .AbUsPTImg {
         display: flex;
         flex-direction: column;
         max-width: 400px;
         height: 175px;
         }
      }
      .AbUsP_TextContainer{
         .AbUsP_Text {
         text-align: justify;
         }
      }
      .AbUsPBoxContatiner {
            align-items: center;
            flex-direction: column;
            .AbUsPBItem {
               width: 220px;
               height: 450px;
            }
      }
    
      .ABUSTeam {
         display: flex;
         flex-direction: column;
      
      .ABUSTeamThree {
         display: flex;
         flex-direction: column;
      }
      .ABUSTeamTwo {
      display: flex;
      flex-direction: column;
      }
   }
}
}
