@import 'AboutUsScreen.scss';

.AboutUsPageContainer { 
    .AbUsPTittle {
        margin: 30px;
        padding: 5px;
        text-align:  center;
        margin-top: 75px;
        @include mobile {
            margin-top: 100px;
        }
        
        .AbUsPTImg {
            @include mobile {
                display: flex;
                flex-direction: column; 
                max-width: 550px;
                height: 175px;
                
             }
            img {
            max-width: 1300px;
            height: 450px;
            }
        }
        h1 {
            text-align: center;
            color: black;
            font-weight: bold;
        }
        p {
            text-align: center;
            padding: 3px;
            font-size: 22px;
            max-width: 1300px;
            margin-left: 14%;
            @include mobile {
                display: flex;
                margin-left: -5%;
                margin-top: 100px;
                }
        }
        hr {
            width: 12%;
            height: 5px;
            background-color: #5fbff9;
            margin: 0 auto;
            border: none;
            text-align: center;
        }
    }

    .AbUsPBoxContatiner {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 50px;
        margin-left: 4%;
        @include mobile {
            display: flex;
            flex-direction: column;       
         }


        .AbUsPBItem {
            margin: 20px;                
            padding: 80px 30px;
            box-shadow: 0 0 9px rgba(0, 0, 1, 0.144);
            border-radius: 5%;
            background-color: rgb(240 246 255);
            width: 400px;
            height: 200px;
            @include mobile {
                  
                width: 220px;  
                height: 350px;
             }
            

            i {
                font-size: 60px;
                margin: 0;
            }
            h3 {
                font-size: 25px;
                margin-bottom: 10px;
            }
            hr {
                width: 120px;
                height: 3px;
                background-color: #5fbff9;
                margin: 0 auto;
                border: none;
                text-align: center;
            }
            p {
                font-size: 22px;
            }
            &:hover {

                i {
                    font-size: 62.5px;
                    transition: 0.5s;
                    color: #0095f8;
                }
            }
        }
    }
    .ABUSTeam {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    .ABUSTeamThree{
        display: flex;
        flex-direction: row;
        @include mobile {
            display: flex;
            flex-direction: column;       
         }
    } 
    }
    .ABUSTeamTwo{
        display: flex;
        flex-direction: row;
        @include mobile {
            display: flex;
            flex-direction: column;     
           }
    } 
    
   
    .ABUSTContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
        

        
        .ABUSTCCard {
            width: 300px;
            height: 350px;
            padding: 40px 30px;
            margin: 50px;
            background: #e3e9ff;
            box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
            border-radius: 20px;
            .ABUSTCCContent {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .ABUSTCCCImageBox {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    position: relative;
                    margin-bottom: 10px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    h4 {
                        color: #36187d;
                        font-size: 1.7rem;
                        font-weight: bold;
                        text-align: center;
                        letter-spacing: 1ps;
                    }
                    h5 {
                        color: #6c758f;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }
    }
    .ABUSTCCCBSocial {
        .fa {
            color: #6c758f;
            font-size: 30px;
            margin: 10px;
            transition: 0.5s;
            &:hover {
                    color: #0095f8;
                cursor: pointer;
            }
        }
    }
        
