@import "../MainStyle";

@include computer{

   .TestLanguageBarContainer {
      display: flex;
      justify-content: right;
      overflow: hidden;
      width: 180px;
      .languageBtnCheck {
         display: none;

         &:checked ~ .TestLanguageBarContainer2 {
            transform: translateX(0%);
         }
      }

      .TestLanguageBarContainer2 {
         display: flex;
         justify-content: center;
         align-items: center;
         transform: translateX(120px);
         width: 167px;
         padding: 0 5px;
         background: linear-gradient(90deg, #0072e4 5%, #02c6fe 70%);

         border-radius: 100px 0 0 100px;
         transition: 0.5s;

         img {
            width: 35px;
         }

         .LBC_Main {
            margin-top: 4px;

            label {
               cursor: pointer;
            }
         }

         .LBC_Border {
            background: white;
            width: 2px;
            height: 40px;
            border-radius: 100px;
            margin: 0 15px;
         }

         .LBC_ListContainer {
            .LBCLC_List {
               margin-top: 4px;
               display: flex;
               justify-content: center;
               align-items: center;
               list-style: none;

               li {
                  cursor: pointer;

                  &:not(:last-child) {
                     margin-right: 15px;
                  }
               }
            }
         }
      }
   }
}

@include phone{

   .TestLanguageBarContainer {
      display: flex;
      justify-content: right;
      overflow: hidden;
      width: 480px;

      .languageBtnCheck {
         display: none;

         &:checked ~ .TestLanguageBarContainer2 {
            transform: translateX(0%);
         }
      }

      .TestLanguageBarContainer2 {
         display: flex;
         justify-content: center;
         align-items: center;
         transform: translateX(260px);
         width: 340px;
         padding: 10px 20px;
         background: linear-gradient(90deg, #0072e4 5%, #02c6fe 70%);
         border-radius: 100px 0 0 100px;
         transition: 0.5s;

         img {
            width: 90px;
         }

         .LBC_Main {
            margin-top: 4px;

            label {
               cursor: pointer;
            }
         }

         .LBC_Border {
            background: white;
            width: 6px;
            height: 90%;
            border-radius: 100px;
            margin: 0 15px;
         }

         .LBC_ListContainer {
            .LBCLC_List {
               margin-top: 4px;
               display: flex;
               justify-content: center;
               align-items: center;
               list-style: none;

               li {
                  cursor: pointer;

                  &:not(:last-child) {
                     margin-right: 30px;
                  }
               }
            }
         }
      }
   }
}
