.HomePageContainer {
   display: flex;
   justify-content: center;

   .HomePageContainer2 {
      //border: black 1px solid;
      //background: black;

      width: 100%;
      max-width: 2000px;
      height: 100vh;
   }
}
